* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070514;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 113px;
}

h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
}

h3 {
  font-size: 48px;
  font-weight: normal;
  line-height: 56px;
}

a {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #beda10;
}

.button {
  background-color: #8279bb;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 36px;
}

.button:hover {
  background-color: #beda10;
  color: #070514;
}
